/* Global settings */
html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

/* Fixed Header Styles */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  color: #222222;
  padding: 15px 0;
  z-index: 1000; /* Ensure the header stays on top */
  border-bottom: 1px solid #f2f2f2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 0 60px;
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-links a {
  color: #6b6b6b;
  text-decoration: none;
  margin-left: 20px;
}

.header-links a:hover {
  color: #222222; /* Lighter color on hover */
}

.body-content {
  margin-top: 80px; /* Ensure the content starts below the header */
  padding: 20px 40px; /* Add space to the left and right */
  background-color: #f8f9fa;
  max-width: 1200px; /* Optional: to control the content width */
  margin: 80px auto;
}


.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 16px;
}

.card-title {
  font-size: 1.25rem;
  margin: 0;
}

.card-text {
  font-size: 1rem;
}

.blog-page {
  justify-content: left;
  display: flex;
}


.card-container-new {
  display: flex;
  flex-wrap: wrap; /* Ensures cards wrap when they exceed row width */
  justify-content: space-between; /* Add equal spacing between cards */
  padding: 20px; /* Padding around the container */
}

/* Individual card styling */
.card-new {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%; /* Ensures 4 cards fit in a row */
  margin-bottom: 20px; /* Add space below each card */
  margin-top: 20px;
  margin-left: 18px;
  margin-right: 18px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-link {
  text-decoration: none;
  color: #222222;
}

.card-link:hover,
.card-link:active,
.card-link:visited {
  color: #222222; /* Same color for all states */
  text-decoration: none;
}

/* Ensure all descendants inside card-link inherit text-decoration */
.card-link * {
  text-decoration: inherit;
  color: inherit;
}




h1 {
  margin-bottom: 20px;
}
h1, h2, h3 {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

p {
  font-size: 20px;
  font-family: 'Charter', 'Kievit', serif;
}
